.margin-bottom {
  margin-bottom: 1rem;
}

div .card-header span {
  margin-right: 13px;
}

.accordion-button {
  border-radius: 10px;
}

.m-auto {
  display: block;
  min-width: 30%;
}

.mainscreen-container {
  display: flex;
  justify-content: space-between;
}

.main-img {
  height: 5rem;
  border-radius: 10%;
}
